<% if resource.errors.any? %>
  <div class="note error_message_note">
    <div class="note_content error_message_note_content">
      <div id="error_explanation">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
